/* Reset default margin */
* {
    margin: 0;
    padding: 0;
}

.searchbar {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    position: absolute;
    top: 3%;
    z-index: 50;
    width: 100%;
    margin-right: 2%;
    max-height: 40%;
    max-width: 85%;
    margin-top: 1%;
    align-items: end;
    margin-left: 15%;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #453e3e;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    margin-top: 4%;
}

.search-btn {
    padding: 8px 12px 7px;
    margin-bottom: 0.01%;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3.9%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-input:focus {
    border-color: #ff5722;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.search-btn:hover {
    background: linear-gradient(45deg, #ff5722, #ff9800);
}

.search-btn:active {
    transform: scale(0.95);
}

.search-btn svg {
    width: 20px;
    height: 20px;
}

/* Responsive Design Adjustments */
@media (max-width: 1050px) {
    .searchbar {
        gap: 8px;
        top: 5%;
    }

    .search-input {
        flex: 1; 
    }  
}

@media (max-width: 900px) {
    .searchbar {
        gap: 8px;
        top: 9%;   
    }
}

/* Full Width Search Bar on Small Screens */
@media screen and (max-width: 650px) {
    .searchbar {
        width: 100%;
        max-width: 100%;
        margin: 0;
        left: 0;
        right: 0;
        padding: 0;
        top: 12%;
        display: flex;
        align-items: center;
        gap : 0.1px;
    }

    .search-input {
        width: 100%; /* Take full width */
        max-width: 100%;
        margin-right: 10px;
    }

    .search-btn {
        padding: 7px 10px;
        flex-shrink: 0; /* Prevents button from shrinking */
    }
}

@media (min-width: 1281px) {
    .searchbar {
        gap: 7px;
        top: 2.5%;
        padding: 8px 0px 8px 10px;
    }

    .search-input {
        font-size: 22px;
    }

    .search-btn {
        padding: 10.5px 15px 11px; 
        margin-bottom: 1.7%; 
    }
}
