.bookdetails-maincontainer {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

p{
    font-size: 1.6rem;
}

.rating-container{
    margin-top: 2%;
    display: flex;
}

.bookdetails-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 6%;
}

.book-img img {
    margin-top: 5%;
    width: 100%;
    height: 95%;
    border-radius: 8px;
}

.book-data {
    margin-top: 1.5%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price-btn {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between;
}


.addtocart-btn {
    padding: 10px;
    width: 20%;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buynow-btn{
    padding: 10px 2px;
    width: 20%;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left:40% ;
}

.addtocart-btn:hover {
    background: linear-gradient(45deg,#ff5722, #ff9800);
}

@media (min-width: 768px) {
    .bookdetails-container {
        flex-direction: row;
        gap: 40px;
    }

    .book-img {
        flex: 1;
    }

    .book-data {
        flex: 2;
    }
}

@media (max-width: 767px) {
    .bookdetails-container {
        flex-direction: column;
        gap: 20px;
    }

    .book-data {
        text-align: center;
    }
}

@media(min-width : 1281px){
    .bookdetails-maincontainer{
        margin-left : 50px
    }

}