/* General Styles */
.payment-details-form {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.payment-details-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.payment-details-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}

.payment-details-form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

.payment-details-form input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.payment-details-form select{
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
}

.payment-details-form button {
    padding: 14px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.payment-details-form button:hover {
    background-color: #0056b3;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .payment-details-form {
        padding: 30px;
        margin: 50px 30px 50px 30px;
    }

    .payment-details-form h2 {
        font-size: 22px;
    }

    .payment-details-form input {
        font-size: 15px;
    }

    .payment-details-form button {
        padding: 15px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .payment-details-form {
        padding: 20px;
        margin: 40px 20px 40px 20px;
    }

    .payment-details-form input {
        font-size: 14px;
        padding: 12px;
    }

    .payment-details-form button {
        padding: 16px;
        font-size: 16px;
    }
}